<!-- index.html -->

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<h1>Talk & talk</h1>

<form action="/logout" method="post">
  logged in as {{username}} <button type="submit">Logout</button>
</form>

{% with notifications = get_flashed_messages() %}
  {% if notifications %}
    {% for message in notifications %}
      <div style="color: red; font-size: 20px">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<h3>Select one of the forums and engage in talk!</h3>

<h4>Create your own forum?</h4>
<form action="/create_forum" method="post">
  <div>
    <label>Forum name:</label>
    <br>
    <input type="text" name="forum_name">
  </div>
  <br>
  <button type="submit">Create forum</button>
</form>

<h4>Forums:</h4>
<ul>
  {% for forum in forums %}
    <li>
      <a href="/forum/{{forum.id}}">{{forum.name}}</a>
      <p>Last message: {{ forum.last_msg }}</p>
      <p>Total message count: {{ forum.message_count }}</p>
      {% if is_admin %}
        <form action="/delete_forum/{{ forum.id }}" method="post" onsubmit="return confirm('Are you sure you want to delete this forum?');">
          <button type="submit" class="delete_forum">Delete Forum</button>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>