<!-- login.html -->

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<h1>Talk & talk</h1>

{% with notifications = get_flashed_messages() %}
  {% if notifications %}
    {% for message in notifications %}
      <div style="color: red; font-size: 20px">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<form action="/login" method="post">
  <div>
    <label>Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password">
  </div>
<button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="/register">Register</a></p>