<!-- thread.html -->

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<h1>Talk & talk</h1>

{% with notifications = get_flashed_messages() %}
  {% if notifications %}
    {% for message in notifications %}
      <div style="color: red; font-size: 20px">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form action="/logout" method="post">
  logged in as {{username}} <button type="submit">Logout</button>
</form>

<h2>Thread {{thread_title}}</h2>

<h3>Search Messages</h3>
<form action="{{ url_for('thread_func', thread_id=thread_id) }}" method="get">
  <input type="text" name="query" placeholder="Search messages...">
  <button type="submit">Search</button>
</form>

{% if search_query %}
  <div class="search-results">
    <h4>The following messages contain the string "{{ search_query }}":</h4>
    <h3>There are {{ search_query.length }}</h3>
    <div class="messages-list">
      {% for message in search_results %}
        <div>{{ message.username }} said: {{ message.content }}</div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<h3>Messages</h3>

<div class="messages-container">
  {% for message in messages %}
    <div class="message-card">
      <div class="message-header">
        <strong class="message-username">{{ message.username }}</strong><span class="said-text"> said:</span>
      </div>    
      <p>{{ message.content }}</p>
      {% if message.posted_by == session['user_id'] %}
        <form action="/edit_message/{{ message.id }}" method="post" class="message-form">
          <textarea name="new_content">{{ message.content }}</textarea>
          <button type="submit">Edit message</button>
          <button type="submit" formaction="/delete_message/{{ message.id }}" onclick="return confirm('Are you sure you want to delete this message?');" class="delete-button">Delete</button>
        </form>
      {% endif %}
    </div>
  {% endfor %}
</div>

<h3>Post a message</h3>
<form action="/post_message" method="post">
  <div>
    <label>Message:</label>
    <br>
    <textarea name="message"></textarea>
  </div>
  <br>
  <input type="hidden" name="thread_id" value="{{ thread_id }}">
  <button type="submit">Post message</button>
</form>

<br>
<a href="{{ request.referrer }}">Back to previous page</a>
<br>
<a href="/">Back to front page</a>